In [ ]:
# Part 2
# Ques 1
import pandas as pd
reader= pd.read_csv("C:\\Users\\user\\Desktop\\medical_students_dataset.csv")
data_frame = pd.DataFrame(reader)
print(data_frame)

        Student ID   Age  Gender      Height     Weight Blood Type        BMI  \
0              1.0  18.0  Female  161.777924  72.354947          O  27.645835
1              2.0   NaN    Male  152.069157  47.630941          B        NaN
2              3.0  32.0  Female  182.537664  55.741083          A  16.729017
3              NaN  30.0    Male  182.112867  63.332207          B  19.096042
4              5.0  23.0  Female         NaN  46.234173          O        NaN
...            ...   ...     ...         ...        ...        ...        ...
199995         NaN  24.0    Male  176.503260  95.756997          B  30.737254
199996     99997.0  29.0  Female  163.917675  45.225194        NaN  16.831734
199997     99998.0  34.0  Female         NaN  99.648914        NaN  33.189303
199998     99999.0  30.0  Female  156.446944  50.142824          A  20.486823
199999    100000.0  20.0  Female  153.927409  99.928405          O  42.175189

        Temperature  Heart Rate  Blood Pressure  Cholesterol Diabetes Smoking
0               NaN        95.0           109.0        203.0       No     NaN
1         98.714977        93.0           104.0        163.0       No      No
2         98.260293        76.0           130.0        216.0      Yes      No
3         98.839605        99.0           112.0        141.0       No     Yes
4         98.480008        95.0             NaN        231.0       No      No
...             ...         ...             ...          ...      ...     ...
199995    99.170685        65.0           121.0        130.0       No      No
199996    97.865785        62.0           125.0        198.0       No     Yes
199997    98.768210        60.0            90.0        154.0      NaN      No
199998    98.994212        61.0           106.0        225.0       No      No
199999    98.595817        95.0           133.0        132.0      NaN      No

[200000 rows x 13 columns]

In [ ]:
# Part 2 
# Ques 2
import pandas as pd
reader= pd.read_csv("C:\\Users\\user\\Desktop\\medical_students_dataset.csv")
data_frame = pd.DataFrame(reader)
# print(data_frame)
print("Info of the dataframe: ")
print(data_frame.info())
print("Null values:")
print(data_frame.isnull())

Info of the dataframe:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200000 entries, 0 to 199999
Data columns (total 13 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   Student ID      180000 non-null  float64
 1   Age             180000 non-null  float64
 2   Gender          180000 non-null  object
 3   Height          180000 non-null  float64
 4   Weight          180000 non-null  float64
 5   Blood Type      180000 non-null  object
 6   BMI             180000 non-null  float64
 7   Temperature     180000 non-null  float64
 8   Heart Rate      180000 non-null  float64
 9   Blood Pressure  180000 non-null  float64
 10  Cholesterol     180000 non-null  float64
 11  Diabetes        180000 non-null  object
 12  Smoking         180000 non-null  object
dtypes: float64(9), object(4)
memory usage: 19.8+ MB
None
Null values:
        Student ID    Age  Gender  Height  Weight  Blood Type    BMI  \
0            False  False   False   False   False       False  False
1            False   True   False   False   False       False   True
2            False  False   False   False   False       False  False
3             True  False   False   False   False       False  False
4            False  False   False    True   False       False   True
...            ...    ...     ...     ...     ...         ...    ...
199995        True  False   False   False   False       False  False
199996       False  False   False   False   False        True  False
199997       False  False   False    True   False        True  False
199998       False  False   False   False   False       False  False
199999       False  False   False   False   False       False  False

        Temperature  Heart Rate  Blood Pressure  Cholesterol  Diabetes  \
0              True       False           False        False     False
1             False       False           False        False     False
2             False       False           False        False     False
3             False       False           False        False     False
4             False       False            True        False     False
...             ...         ...             ...          ...       ...
199995        False       False           False        False     False
199996        False       False           False        False     False
199997        False       False           False        False      True
199998        False       False           False        False     False
199999        False       False           False        False      True

        Smoking
0          True
1         False
2         False
3         False
4         False
...         ...
199995    False
199996    False
199997    False
199998    False
199999    False

[200000 rows x 13 columns]

In [14]:
# Part 2
# Ques 3
import pandas as pd
from sklearn.datasets import load_iris
import numpy as np
reader= pd.read_csv("C:\\Users\\user\\Desktop\\medical_students_dataset.csv")
data_frame = pd.DataFrame(reader)
missing = data_frame.isnull().sum()
print(missing)
# iris_df_ffill = iris_df.ffill()
# iris_df_mean = iris_df.fillna(iris_df.mean())

Student ID        20000
Age               20000
Gender            20000
Height            20000
Weight            20000
Blood Type        20000
BMI               20000
Temperature       20000
Heart Rate        20000
Blood Pressure    20000
Cholesterol       20000
Diabetes          20000
Smoking           20000
dtype: int64

In [20]:
# Part 2
# Ques 4
import pandas as pd
reader= pd.read_csv("C:\\Users\\user\\Desktop\\medical_students_dataset.csv")
data_frame = pd.DataFrame(reader)
duplicated =data_frame.duplicated()
print(duplicated)
data_frame.drop_duplicates()

0         False
1         False
2         False
3         False
4         False
          ...
199995    False
199996    False
199997    False
199998    False
199999    False
Length: 200000, dtype: bool

,Student ID,Age,Gender,Height,Weight,Blood Type,BMI,Temperature,Heart Rate,Blood Pressure,Cholesterol,Diabetes,Smoking
0,1.0,18.0,Female,161.777924,72.354947,O,27.645835,NaN,95.0,109.0,203.0,No,NaN
1,2.0,NaN,Male,152.069157,47.630941,B,NaN,98.714977,93.0,104.0,163.0,No,No
2,3.0,32.0,Female,182.537664,55.741083,A,16.729017,98.260293,76.0,130.0,216.0,Yes,No
3,NaN,30.0,Male,182.112867,63.332207,B,19.096042,98.839605,99.0,112.0,141.0,No,Yes
4,5.0,23.0,Female,NaN,46.234173,O,NaN,98.480008,95.0,NaN,231.0,No,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...
199995,NaN,24.0,Male,176.503260,95.756997,B,30.737254,99.170685,65.0,121.0,130.0,No,No
199996,99997.0,29.0,Female,163.917675,45.225194,NaN,16.831734,97.865785,62.0,125.0,198.0,No,Yes
199997,99998.0,34.0,Female,NaN,99.648914,NaN,33.189303,98.768210,60.0,90.0,154.0,NaN,No
199998,99999.0,30.0,Female,156.446944,50.142824,A,20.486823,98.994212,61.0,106.0,225.0,No,No
199999,100000.0,20.0,Female,153.927409,99.928405,O,42.175189,98.595817,95.0,133.0,132.0,NaN,No