In [8]:
import os
import pandas as pd




data = pd.read_csv('/content/drive/MyDrive/Concept and technologies of AI/Titanic-Dataset .csv')  # Update the path if necessary


# Problem 1 - Sorting:
# 1. Create a DataFrame called 'fare' containing only the Fare column
fare = data[['Fare']]
print("\nHead of Fare DataFrame:")
print(fare.head())

# 2. Create a DataFrame called 'class_age' containing only the Pclass and Age columns
class_age = data[['Pclass', 'Age']]
print("\nHead of Class Age DataFrame:")
print(class_age.head())

# 3. Create a DataFrame called 'survived_gender' containing only the Survived and Sex columns
survived_gender = data[['Survived', 'Sex']]
print("\nHead of Survived Gender DataFrame:")
print(survived_gender.head())

# Problem 2 - Subsetting:
# Subsetting Rows:
# 1. Filter for passengers with fare > 100
fare_gt_100 = data[data['Fare'] > 100]
print("\nPassengers with Fare > 100:")
print(fare_gt_100)

# 2. Filter for passengers in first class (Pclass = 1)
first_class = data[data['Pclass'] == 1]
print("\nPassengers in First Class:")
print(first_class)

# 3. Filter for female passengers under 18 years of age
female_under_18 = data[(data['Age'] < 18) & (data['Sex'] == 'female')]
print("\nFemale Passengers Under 18:")
print(female_under_18)

# Subsetting Rows by Categorical variables:
# 1. Filter for passengers embarked at 'C' or 'S'
embarked_c_or_s = data[data['Embarked'].isin(['C', 'S'])]
print("\nPassengers Embarked at 'C' or 'S':")
print(embarked_c_or_s)

# 2. Filter for passengers in first or second class (Pclass in [1, 2])
first_second_class = data[data['Pclass'].isin([1, 2])]
print("\nPassengers in First or Second Class:")
print(first_second_class)

# Exploratory Data Analysis Practice Exercise - 1
# 1. Add a column for fare per year
median_age = data['Age'].median()
data['Age'] = data['Age'].fillna(median_age)
data['Fare_Per_Year'] = data['Fare'] / data['Age']

# 2. Subset rows where fare per year > 5
high_fare_age = data[data['Fare_Per_Year'] > 5]

# 3. Sort by descending fare per year
high_fare_age_srt = high_fare_age.sort_values(by='Fare_Per_Year', ascending=False)

# 4. Select Name and Fare_Per_Year columns
result_high_fare = high_fare_age_srt[['Name', 'Fare_Per_Year']]
print("\nPassengers with High Fare Per Year:")
print(result_high_fare)

# 5. Identify adult male passenger with highest fare relative to class
# Add a column for fare per class
data['Fare_Per_Class'] = data['Fare'] / data['Pclass']

# Subset for adult males
adult_males = data[(data['Sex'] == 'male') & (data['Age'] >= 18)]

# Sort by descending fare per class
adult_males_srt = adult_males.sort_values(by='Fare_Per_Class', ascending=False)

# Select Name, Age, and Fare_Per_Class columns
result_adult_males = adult_males_srt[['Name', 'Age', 'Fare_Per_Class']]
print("\nAdult Male Passengers with Highest Fare Per Class:")
print(result_adult_males)

# Exploratory Data Analysis with Group-by Method Practice Exercise
# Calculate the total Fare paid across all passengers
total_fare = data['Fare'].sum()

# Calculate fare by class
fare_by_class = data.groupby('Pclass')['Fare'].sum()

# Proportion of fare revenue by class
fare_proportion = (fare_by_class / total_fare) * 100
print("\nFare Revenue Proportion by Class (%):")
print(fare_proportion)

# Passenger age group proportions
# Create age group column
def categorize_age(age):
    if age < 18:
        return 'child'
    elif age >= 65:
        return 'senior'
    else:
        return 'adult'

data['Age_Group'] = data['Age'].apply(categorize_age)

# Total passengers
total_passengers = len(data)

# Count passengers in each age group
age_group_counts = data['Age_Group'].value_counts()

# Proportion of passengers in each age group
age_group_proportion = (age_group_counts / total_passengers) * 100
print("\nPassenger Proportion by Age Group (%):")
print(age_group_proportion)

Head of Fare DataFrame:
      Fare
0   7.2500
1  71.2833
2   7.9250
3  53.1000
4   8.0500

Head of Class Age DataFrame:
   Pclass   Age
0       3  22.0
1       1  38.0
2       3  26.0
3       1  35.0
4       3  35.0

Head of Survived Gender DataFrame:
   Survived     Sex
0         0    male
1         1  female
2         1  female
3         1  female
4         0    male

Passengers with Fare > 100:
     PassengerId  Survived  Pclass  \
27            28         0       1
31            32         1       1
88            89         1       1
118          119         0       1
195          196         1       1
215          216         1       1
258          259         1       1
268          269         1       1
269          270         1       1
297          298         0       1
299          300         1       1
305          306         1       1
306          307         1       1
307          308         1       1
311          312         1       1
318          319         1       1
319          320         1       1
325          326         1       1
332          333         0       1
334          335         1       1
337          338         1       1
341          342         1       1
373          374         0       1
377          378         0       1
380          381         1       1
390          391         1       1
393          394         1       1
435          436         1       1
438          439         0       1
498          499         0       1
505          506         0       1
527          528         0       1
537          538         1       1
544          545         0       1
550          551         1       1
557          558         0       1
581          582         1       1
609          610         1       1
659          660         0       1
660          661         1       1
679          680         1       1
689          690         1       1
698          699         0       1
700          701         1       1
708          709         1       1
716          717         1       1
730          731         1       1
737          738         1       1
742          743         1       1
763          764         1       1
779          780         1       1
802          803         1       1
856          857         1       1

                                                  Name     Sex    Age  SibSp  \
27                      Fortune, Mr. Charles Alexander    male  19.00      3
31      Spencer, Mrs. William Augustus (Marie Eugenie)  female    NaN      1
88                          Fortune, Miss. Mabel Helen  female  23.00      3
118                           Baxter, Mr. Quigg Edmond    male  24.00      0
195                               Lurette, Miss. Elise  female  58.00      0
215                            Newell, Miss. Madeleine  female  31.00      1
258                                   Ward, Miss. Anna  female  35.00      0
268      Graham, Mrs. William Thompson (Edith Junkins)  female  58.00      0
269                             Bissette, Miss. Amelia  female  35.00      0
297                       Allison, Miss. Helen Loraine  female   2.00      1
299    Baxter, Mrs. James (Helene DeLaudeniere Chaput)  female  50.00      0
305                     Allison, Master. Hudson Trevor    male   0.92      1
306                            Fleming, Miss. Margaret  female    NaN      0
307  Penasco y Castellana, Mrs. Victor de Satode (M...  female  17.00      1
311                         Ryerson, Miss. Emily Borie  female  18.00      2
318                           Wick, Miss. Mary Natalie  female  31.00      0
319  Spedden, Mrs. Frederic Oakley (Margaretta Corn...  female  40.00      1
325                           Young, Miss. Marie Grice  female  36.00      0
332                          Graham, Mr. George Edward    male  38.00      0
334  Frauenthal, Mrs. Henry William (Clara Heinshei...  female    NaN      1
337                    Burns, Miss. Elizabeth Margaret  female  41.00      0
341                     Fortune, Miss. Alice Elizabeth  female  24.00      3
373                                Ringhini, Mr. Sante    male  22.00      0
377                          Widener, Mr. Harry Elkins    male  27.00      0
380                              Bidois, Miss. Rosalie  female  42.00      0
390                         Carter, Mr. William Ernest    male  36.00      1
393                             Newell, Miss. Marjorie  female  23.00      1
435                          Carter, Miss. Lucile Polk  female  14.00      1
438                                  Fortune, Mr. Mark    male  64.00      1
498    Allison, Mrs. Hudson J C (Bessie Waldo Daniels)  female  25.00      1
505         Penasco y Castellana, Mr. Victor de Satode    male  18.00      1
527                                 Farthing, Mr. John    male    NaN      0
537                                LeRoy, Miss. Bertha  female  30.00      0
544                         Douglas, Mr. Walter Donald    male  50.00      1
550                        Thayer, Mr. John Borland Jr    male  17.00      0
557                                Robbins, Mr. Victor    male    NaN      0
581  Thayer, Mrs. John Borland (Marian Longstreth M...  female  39.00      1
609                          Shutes, Miss. Elizabeth W  female  40.00      0
659                         Newell, Mr. Arthur Webster    male  58.00      0
660                      Frauenthal, Dr. Henry William    male  50.00      2
679                 Cardeza, Mr. Thomas Drake Martinez    male  36.00      0
689                  Madill, Miss. Georgette Alexandra  female  15.00      0
698                           Thayer, Mr. John Borland    male  49.00      1
700  Astor, Mrs. John Jacob (Madeleine Talmadge Force)  female  18.00      1
708                               Cleaver, Miss. Alice  female  22.00      0
716                      Endres, Miss. Caroline Louise  female  38.00      0
730                      Allen, Miss. Elisabeth Walton  female  29.00      0
737                             Lesurer, Mr. Gustave J    male  35.00      0
742              Ryerson, Miss. Susan Parker "Suzette"  female  21.00      2
763          Carter, Mrs. William Ernest (Lucile Polk)  female  36.00      1
779  Robert, Mrs. Edward Scott (Elisabeth Walton Mc...  female  43.00      0
802                Carter, Master. William Thornton II    male  11.00      1
856         Wick, Mrs. George Dennick (Mary Hitchcock)  female  45.00      1

     Parch    Ticket      Fare            Cabin Embarked
27       2     19950  263.0000      C23 C25 C27        S
31       0  PC 17569  146.5208              B78        C
88       2     19950  263.0000      C23 C25 C27        S
118      1  PC 17558  247.5208          B58 B60        C
195      0  PC 17569  146.5208              B80        C
215      0     35273  113.2750              D36        C
258      0  PC 17755  512.3292              NaN        C
268      1  PC 17582  153.4625             C125        S
269      0  PC 17760  135.6333              C99        S
297      2    113781  151.5500          C22 C26        S
299      1  PC 17558  247.5208          B58 B60        C
305      2    113781  151.5500          C22 C26        S
306      0     17421  110.8833              NaN        C
307      0  PC 17758  108.9000              C65        C
311      2  PC 17608  262.3750  B57 B59 B63 B66        C
318      2     36928  164.8667               C7        S
319      1     16966  134.5000              E34        C
325      0  PC 17760  135.6333              C32        C
332      1  PC 17582  153.4625              C91        S
334      0  PC 17611  133.6500              NaN        S
337      0     16966  134.5000              E40        C
341      2     19950  263.0000      C23 C25 C27        S
373      0  PC 17760  135.6333              NaN        C
377      2    113503  211.5000              C82        C
380      0  PC 17757  227.5250              NaN        C
390      2    113760  120.0000          B96 B98        S
393      0     35273  113.2750              D36        C
435      2    113760  120.0000          B96 B98        S
438      4     19950  263.0000      C23 C25 C27        S
498      2    113781  151.5500          C22 C26        S
505      0  PC 17758  108.9000              C65        C
527      0  PC 17483  221.7792              C95        S
537      0  PC 17761  106.4250              NaN        C
544      0  PC 17761  106.4250              C86        C
550      2     17421  110.8833              C70        C
557      0  PC 17757  227.5250              NaN        C
581      1     17421  110.8833              C68        C
609      0  PC 17582  153.4625             C125        S
659      2     35273  113.2750              D48        C
660      0  PC 17611  133.6500              NaN        S
679      1  PC 17755  512.3292      B51 B53 B55        C
689      1     24160  211.3375               B5        S
698      1     17421  110.8833              C68        C
700      0  PC 17757  227.5250          C62 C64        C
708      0    113781  151.5500              NaN        S
716      0  PC 17757  227.5250              C45        C
730      0     24160  211.3375               B5        S
737      0  PC 17755  512.3292             B101        C
742      2  PC 17608  262.3750  B57 B59 B63 B66        C
763      2    113760  120.0000          B96 B98        S
779      1     24160  211.3375               B3        S
802      2    113760  120.0000          B96 B98        S
856      1     36928  164.8667              NaN        S

Passengers in First Class:
     PassengerId  Survived  Pclass  \
1              2         1       1
3              4         1       1
6              7         0       1
11            12         1       1
23            24         1       1
..           ...       ...     ...
871          872         1       1
872          873         0       1
879          880         1       1
887          888         1       1
889          890         1       1

                                                  Name     Sex   Age  SibSp  \
1    Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
3         Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
6                              McCarthy, Mr. Timothy J    male  54.0      0
11                            Bonnell, Miss. Elizabeth  female  58.0      0
23                        Sloper, Mr. William Thompson    male  28.0      0
..                                                 ...     ...   ...    ...
871   Beckwith, Mrs. Richard Leonard (Sallie Monypeny)  female  47.0      1
872                           Carlsson, Mr. Frans Olof    male  33.0      0
879      Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)  female  56.0      0
887                       Graham, Miss. Margaret Edith  female  19.0      0
889                              Behr, Mr. Karl Howell    male  26.0      0

     Parch    Ticket     Fare        Cabin Embarked
1        0  PC 17599  71.2833          C85        C
3        0    113803  53.1000         C123        S
6        0     17463  51.8625          E46        S
11       0    113783  26.5500         C103        S
23       0    113788  35.5000           A6        S
..     ...       ...      ...          ...      ...
871      1     11751  52.5542          D35        S
872      0       695   5.0000  B51 B53 B55        S
879      1     11767  83.1583          C50        C
887      0    112053  30.0000          B42        S
889      0    111369  30.0000         C148        C

[216 rows x 12 columns]

Female Passengers Under 18:
     PassengerId  Survived  Pclass  \
9             10         1       2
10            11         1       3
14            15         0       3
22            23         1       3
24            25         0       3
39            40         1       3
43            44         1       2
58            59         1       2
68            69         1       3
71            72         0       3
84            85         1       2
111          112         0       3
114          115         0       3
119          120         0       3
147          148         0       3
156          157         1       3
172          173         1       3
184          185         1       3
205          206         0       3
208          209         1       3
233          234         1       3
237          238         1       2
297          298         0       1
307          308         1       1
329          330         1       1
374          375         0       3
381          382         1       3
389          390         1       2
419          420         0       3
435          436         1       1
446          447         1       2
448          449         1       3
469          470         1       3
479          480         1       3
504          505         1       1
530          531         1       2
535          536         1       2
541          542         0       3
542          543         0       3
618          619         1       2
634          635         0       3
642          643         0       3
644          645         1       3
689          690         1       1
691          692         1       3
720          721         1       2
750          751         1       2
777          778         1       3
780          781         1       3
781          782         1       1
813          814         0       3
830          831         1       3
852          853         0       3
853          854         1       1
875          876         1       3

                                                  Name     Sex    Age  SibSp  \
9                  Nasser, Mrs. Nicholas (Adele Achem)  female  14.00      1
10                     Sandstrom, Miss. Marguerite Rut  female   4.00      1
14                Vestrom, Miss. Hulda Amanda Adolfina  female  14.00      0
22                         McGowan, Miss. Anna "Annie"  female  15.00      0
24                       Palsson, Miss. Torborg Danira  female   8.00      3
39                         Nicola-Yarred, Miss. Jamila  female  14.00      1
43            Laroche, Miss. Simonne Marie Anne Andree  female   3.00      1
58                        West, Miss. Constance Mirium  female   5.00      1
68                     Andersson, Miss. Erna Alexandra  female  17.00      4
71                          Goodwin, Miss. Lillian Amy  female  16.00      5
84                                 Ilett, Miss. Bertha  female  17.00      0
111                               Zabour, Miss. Hileni  female  14.50      1
114                              Attalah, Miss. Malake  female  17.00      0
119                  Andersson, Miss. Ellis Anna Maria  female   2.00      4
147                   Ford, Miss. Robina Maggie "Ruby"  female   9.00      2
156                   Gilnagh, Miss. Katherine "Katie"  female  16.00      0
172                       Johnson, Miss. Eleanor Ileen  female   1.00      1
184                Kink-Heilmann, Miss. Luise Gretchen  female   4.00      0
205                         Strom, Miss. Telma Matilda  female   2.00      0
208                          Carr, Miss. Helen "Ellen"  female  16.00      0
233                     Asplund, Miss. Lillian Gertrud  female   5.00      4
237                   Collyer, Miss. Marjorie "Lottie"  female   8.00      0
297                       Allison, Miss. Helen Loraine  female   2.00      1
307  Penasco y Castellana, Mrs. Victor de Satode (M...  female  17.00      1
329                       Hippach, Miss. Jean Gertrude  female  16.00      0
374                         Palsson, Miss. Stina Viola  female   3.00      3
381                        Nakid, Miss. Maria ("Mary")  female   1.00      0
389                              Lehmann, Miss. Bertha  female  17.00      0
419                          Van Impe, Miss. Catharina  female  10.00      0
435                          Carter, Miss. Lucile Polk  female  14.00      1
446                  Mellinger, Miss. Madeleine Violet  female  13.00      0
448                     Baclini, Miss. Marie Catherine  female   5.00      2
469                      Baclini, Miss. Helene Barbara  female   0.75      2
479                           Hirvonen, Miss. Hildur E  female   2.00      0
504                              Maioni, Miss. Roberta  female  16.00      0
530                           Quick, Miss. Phyllis May  female   2.00      1
535                             Hart, Miss. Eva Miriam  female   7.00      0
541               Andersson, Miss. Ingeborg Constanzia  female   9.00      4
542                  Andersson, Miss. Sigrid Elisabeth  female  11.00      4
618                        Becker, Miss. Marion Louise  female   4.00      2
634                                 Skoog, Miss. Mabel  female   9.00      3
642                      Skoog, Miss. Margit Elizabeth  female   2.00      3
644                             Baclini, Miss. Eugenie  female   0.75      2
689                  Madill, Miss. Georgette Alexandra  female  15.00      0
691                                 Karun, Miss. Manca  female   4.00      0
720                  Harper, Miss. Annie Jessie "Nina"  female   6.00      0
750                                  Wells, Miss. Joan  female   4.00      1
777                      Emanuel, Miss. Virginia Ethel  female   5.00      0
780                               Ayoub, Miss. Banoura  female  13.00      0
781          Dick, Mrs. Albert Adrian (Vera Gillespie)  female  17.00      1
813                 Andersson, Miss. Ebba Iris Alfrida  female   6.00      4
830            Yasbeck, Mrs. Antoni (Selini Alexander)  female  15.00      1
852                            Boulos, Miss. Nourelain  female   9.00      1
853                          Lines, Miss. Mary Conover  female  16.00      0
875                   Najib, Miss. Adele Kiamie "Jane"  female  15.00      0

     Parch         Ticket      Fare    Cabin Embarked
9        0         237736   30.0708      NaN        C
10       1        PP 9549   16.7000       G6        S
14       0         350406    7.8542      NaN        S
22       0         330923    8.0292      NaN        Q
24       1         349909   21.0750      NaN        S
39       0           2651   11.2417      NaN        C
43       2  SC/Paris 2123   41.5792      NaN        C
58       2     C.A. 34651   27.7500      NaN        S
68       2        3101281    7.9250      NaN        S
71       2        CA 2144   46.9000      NaN        S
84       0     SO/C 14885   10.5000      NaN        S
111      0           2665   14.4542      NaN        C
114      0           2627   14.4583      NaN        C
119      2         347082   31.2750      NaN        S
147      2     W./C. 6608   34.3750      NaN        S
156      0          35851    7.7333      NaN        Q
172      1         347742   11.1333      NaN        S
184      2         315153   22.0250      NaN        S
205      1         347054   10.4625       G6        S
208      0         367231    7.7500      NaN        Q
233      2         347077   31.3875      NaN        S
237      2     C.A. 31921   26.2500      NaN        S
297      2         113781  151.5500  C22 C26        S
307      0       PC 17758  108.9000      C65        C
329      1         111361   57.9792      B18        C
374      1         349909   21.0750      NaN        S
381      2           2653   15.7417      NaN        C
389      0        SC 1748   12.0000      NaN        C
419      2         345773   24.1500      NaN        S
435      2         113760  120.0000  B96 B98        S
446      1         250644   19.5000      NaN        S
448      1           2666   19.2583      NaN        C
469      1           2666   19.2583      NaN        C
479      1        3101298   12.2875      NaN        S
504      0         110152   86.5000      B79        S
530      1          26360   26.0000      NaN        S
535      2   F.C.C. 13529   26.2500      NaN        S
541      2         347082   31.2750      NaN        S

['.config', 'drive', 'sample_data']